{% extends 'base.html' %}



{% block content %}
    <div class="card">
        <div class="card-content">
        <span class="card-title">{{ finch.name }}</span>
        <p>Color: {{ finch.color }}</p>
        <p>Age: {{ finch.age }}</p>
        </div>
    <form action="{% url 'finches:delete_finch' finch.id%}" style="display: inline">
        <button class="btn" type="submit">Delete</button>
    </form>
    <form action="{% url 'finches:update_finch' finch.id%}" style="display: inline">
        <button class="btn" type="submit">Update</button>
    </form>
    </div>
{% endblock  %}